<% if @comment_submitted %>
  <div class="jumbotron">
        <h1>THANK YOU!</h1>
  <% else %>
   <div class="jumbotron">
        <h2>Respond to: </strong><%= "#{@topic['topic_title']}".capitalize %></h2>
        <p class="lead"></p>
        <p class="lead"><%= "#{@topic['topic_contents']}"%></p>
<form class ="comments" actions ="/topic/<%="#{@id}"%>/comment" method="post">
  <fieldset class="form-group">
    <label for="exampleTextarea">Comment:</label>
    <textarea class="form-control" id="comment" name="comment" rows="5"></textarea>
  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 <% end %>
</div>