<% if @comment_submitted %>
  <div class="jumbotron">
        <h1>THANK YOU!</h1>
  <% else %>
  <div class="jumbotron">
        <h1>Post new comment</h1>
<form class ="comments" actions ="/topic/<%="#{@id}"%>/comment" method="post">
  <fieldset class="form-group">
    <label for="name">Your Name:</label>
    <input type="text" class="form-control" name="name" placeholder="Enter name" value="<%= @user['name'] %>">
  </fieldset>
  <fieldset class="form-group">
    <label for="email">Email address:</label>
    <input type="text" class="form-control" name="email" placeholder="Enter email" value="<%= @user['email'] %>">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleTextarea">Comment:</label>
    <textarea type ="text" name ="comment" class="form-control" rows="5"></textarea>
  </fieldset>
  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 <% end %>
</div>