<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>NBA FORUM</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    
  </head>
  <body>
    <div class = "container">
     <div class="jumbotron">
        <h1>Welcome to <br>NBA Forum!</h1>
        <p class="lead">NBA Forum is a forum for all NBA fans. Whether you watch every game every night, or haven't watched a game since Michael retired, NBA forum is for you.</p>
        <p><a class="btn btn-lg btn-success" href="/newtopic" role="button">Start a new topic!</a></p>
      </div>
      <h2>Trending Threads</h2>
      <div class="row marketing">
        <div class="col-lg-6">
        <% @topics.each do |topic| %>
          <h4><a href = "/topic/<%="#{topic['topics_id']}"%>"><%="#{topic['topic_title']}"%></a></h4>
          <p><%= "#{topic['topic_contents']}"%></p>
          <p>Posted by: <%= "#{topic['name']}"%></p>
          <% end %>
        </div>
      </div>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
