<!DOCTYPE html>
<html lang="en">
  <head>
  <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>NBA Forum</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="../CSS/signin.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->

    <link href="../CSS/bootstrap.min.css" rel="stylesheet">
    

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    

    <!-- Custom styles for this template -->
    <link href="../CSS/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/dropdown.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>

<div class = "for_background">
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            

            
            
            <% if current_user['name'] %>
            <li role="presentation" class="header_bar"><a href="/topics">Topics</a></li>
            <li role="presentation">
                <a class="nav-link disabled" href="#">Logged in as <%= "#{current_user['email']}"%></a>
            </li>
            <li role="presentation"><a href="/logout">Logout</a></li>
            <li role="presentation" class="active">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Teams<span class="caret"></span>
                </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Atlanta Hawks</a></li>
            <li><a href="#">Boston Celtics</a></li>
            <li><a href="#">Brooklyn Nets</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Charlotte Hornets</a></li>
            <li><a href="#">Chicago Bulls</a></li>
            <li><a href="#">Cleveland Cavaliers</a></li>
            <li><a href="#">Dallas Mavericks</a></li>
            <li><a href="#">Denver Nuggets</a></li>
            <li><a href="#">Detroit Pistons</a></li>
            <li><a href="#">Golden State Warriors</a></li>
            <li><a href="#">Houston Rockets</a></li>
            <li><a href="#">Indiana Pacers</a></li>
            <li><a href="#">L.A. Clippers</a></li>
            <li><a href="#">L.A. Lakers</a></li>
            <li><a href="#">Memphis Grizzlies</a></li>
            <li><a href="#">Miami Heat</a></li>
            <li><a href="#">Milwaukee Bucks</a></li>
            <li><a href="#">Minnesota Timberwolves</a></li>
            <li><a href="#">New Orleans Pelicans</a></li>
            <li><a href="#">New York Knicks</a></li>
            <li><a href="#">Oklahoma City Thunder</a></li>
            <li><a href="#">Orlando Magic</a></li>
            <li><a href="#">Philadelphia 76ers</a></li>
            <li><a href="#">Phoenix Suns</a></li>
            <li><a href="#">Portland Trailblazers</a></li>
            <li><a href="#">Sacramento Kings</a></li>
            <li><a href="#">San Antonio Spurs</a></li>
            <li><a href="#">Toronto Raptors</a></li>
            <li><a href="#">Utah Jazz</a></li>
            <li><a href="#">Washington Wizards</a></li>

            </ul>
            </div>
            </li>
            <% else %>
            <li role="presentation"><a href="/login">Login</a></li>
            <li role="presentation"><a href="/signup">Sign up</a></li>
             
            <% end %>
            </ul>
    
        </nav>
        <% if current_user['name'] %>
        <h3 class="text-muted"><a href ="/home">NBA Forum</a></h3>
        <% else %>
        <h3 class="text-muted"><a href ="/">NBA Forum</a></h3>
        <% end %>
      </div>
     

    <%= yield %>
   
      <footer class="footer">
        <p>&copy; Andrew Holz, Inc., an SC Johnson Company</p>
      </footer>

    </div> <!-- /container -->

    </div>



   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>