<% if @topic_submitted %>
  <div class="jumbotron">
        <h1>THANK YOU!</h1>
  <% else %>
  <div class="jumbotron">
        <h1>Post new topic</h1>
<form class ="new_post" actions ="/newtopic" method="post">
  </fieldset>
    <fieldset class="form-group">
    <label for="email">Title: </label>
    <input type="text" class="form-control" name="title" placeholder="100 character limit">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleTextarea">New Topic:</label>
    <textarea class="form-control" id="topic" name="topic" rows="5"></textarea>
  </fieldset>
  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 <% end %>
</div>