<h1>SIGN UP FOR NBA FORUM</h1>
<form actions ="/signup" method="post">
  <fieldset class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter name">
  </fieldset>
  <fieldset class="form-group">
    <label for="email">Email address</label>
    <input type="text" class="form-control" name="email" placeholder="Enter email">
    <small class="text-muted">We'll never share your email with anyone else.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </fieldset>
  <fieldset class="form-group">
    <label for="avatar">Avatar url (optional)</label>
    <input type="text" class="form-control" name="avatar" placeholder="Avatar url">
  </fieldset>
  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>