<div class="row row-centered">
        <div class="col-xs-6 col-centered"></div>

<% @topics.each do |topic| %>

<div class = "topic_comment">
<h3><a href = "/topic/<%="#{topic['topics_id']}"%>"><%="#{topic['topic_title']}".capitalize%></a></h3>
<p><%= "#{topic['topic_contents']}".capitalize%></p>
<p>Posted by: <%= "#{topic['name']}".upcase%>
</div>
<% end %>