

<% @topics.each do |topic| %>

<div>
<h3><a href = "/topic/<%="#{topic['id']}"%>"><%="#{topic['topic_title']}"%></a></h3>
<p><%= "#{topic['topic_contents']}"%></p>
<p>Posted by: <%= "#{topic['name']}"%>
</div>
<% end %>