<div class="jumbotron">
        <h2>Welcome to NBA Forum!</h2>
        <p class="lead">NBA Forum is a forum for all NBA fans. Whether you watch every game every night, or haven't watched a game since Michael retired, NBA forum is for you.</p>
        <h2>Please login or signup to continue</h2>
          <a href="/login"<button type="button" class="btn btn-success">Login</button></a>
          <a href="/signup"<button type="button" class="btn btn-info">Signup</button></a>

</div>