.row-centered {
    text-align:center;

}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;

}

.topic_comment{
  background-image: url("http://www.psdgraphics.com/file/basketball-floor-texture.jpg");
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  color: black;

}

h1.new_post{
  text-align: center;
}

/*body{ 
background-image: url("http://inspiredcases.aydus.com.vhost.zerolag.com/media/catalog/product/cache/1/image/430x573/9df78eab33525d08d6e5fb8d27136e95/0/_/0_1531.png");
background-size: cover;
}