.row-centered {
    text-align:center;

}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;

}

.topic_comment{
  background-color: white;
  border: 3px solid black;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  color: black;

}

h1.new_post{
  text-align: center;
}

body{ 
background-image: url("http://www.psdgraphics.com/file/basketball-floor-texture.jpg");
background-size: cover;
}